---
// Root redirect to default locale
// Redirects / to /id/ since prefixDefaultLocale is true
---

<meta http-equiv="refresh" content="0;url=/id/" />
<script>
  window.location.href = '/id/';
</script>

<noscript>
  <meta http-equiv="refresh" content="0;url=/id/" />
  <a href="/id/">Redirecting...</a>
</noscript>
